.formulario {
    display: flex;
    justify-content: center;
    margin: none;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(19,20,25,1) 54%);     
    
}

.formulario form {
    margin-top: 160px;
    margin-bottom: 135px;
    position: relative;
    max-width: 80%;
    background-color: #131419;
    border-radius: 10px;
    padding: 60px 60px 84px;
    box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
            5px 5px 15px rgba(0, 0, 0, 0.50) ;
            
}

.formulario .input {
    border-color: rgb(134, 132, 129);
}

.formulario h2 {
    margin-bottom: 50px;
    color: #e0b48c;
    font-weight: 450;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
}