body {
    background-color: #131419;
}

.tipo {
    position: relative;
    text-align: center;
    background-color: #131419;
    color: #e0b48c;
    padding: 130px 130px 75px;
    box-shadow: -5px -5px 10px rgba(255,255,255,0.05),
            5px 5px 15px rgba(0, 0, 0, 0.50) ;
    margin: 50px;


    

}

.tipo h3 {
    font-size: 32px;
    color: #e0b58c;
    font-weight: bolder;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    margin-bottom:75px;
    margin-top: -35px;
    
}